<%= form_for(@medication) do |f| %>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :description %>
	<%= f.text_area :description %>
</div>

<div class="field">
	<%= f.label :dosage_in_milligrams %>
	<%= f.number_field :dosage_in_milligrams %>
</div>

<div class="field">
	<%= f.label :day_of_week, M T W Th- b %>
	<%= f. %>
</div>

<div class="field">
	<%= f.label :time_of_day, B L D E %>
	<%= f %>
</div>


<div class="actions">
  <%= f.submit "Create" %>
</div>

<% end %>