<%= form_for(@medication) do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %><br>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %><br>
	</div>

	<div class="field">
		<%= f.label :dosage_in_milligrams %>
		<%= f.number_field :dosage_in_milligrams %><br>
	</div>

  <p> Time of Day </p>

	<div class="field">
    <%= f.check_box :time_of_day_0 %>
    <%= f.label :time_of_day_0, "Breakfast" %>
  </div>

  <div class="field">
    <%= f.check_box :time_of_day_1 %>
    <%= f.label :time_of_day_1, "Lunch" %>
  </div>

  <div class="field">
    <%= f.check_box :time_of_day_2 %>
    <%= f.label :time_of_day_2, "Dinner" %>
  </div>

  <div class="field">
    <%= f.check_box :time_of_day_3 %>
    <%= f.label :time_of_day_3, "Bedtime" %>
  </div>

  <p> Day of Week </p>

  <div class="field">
    <%= f.check_box :day_of_week_0 %>
    <%= f.label :day_of_week_0, "Monday" %>
  </div>

  <div class="field">
    <%= f.check_box :day_of_week_1 %>
    <%= f.label :day_of_week_1, "Tuesday" %>
  </div>

   <div class="field">
    <%= f.check_box :day_of_week_2 %>
    <%= f.label :day_of_week_2, "Wednesday" %>
  </div>

  <div class="field">
    <%= f.check_box :day_of_week_3 %>
    <%= f.label :day_of_week_3, "Thursday" %>
  </div>

   <div class="field">
    <%= f.check_box :day_of_week_4 %>
    <%= f.label :day_of_week_4, "Friday" %>
  </div>

  <div class="field">
    <%= f.check_box :day_of_week_5 %>
    <%= f.label :day_of_week_5, "Saturday" %>
  </div>

  <div class="field">
    <%= f.check_box :day_of_week_6 %>
    <%= f.label :day_of_week_6, "Sunday" %>
  </div>
   
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>