<h1>Medications</h1>

<%= form_for(@medication) do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %><br>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %><br>
	</div>

	<div class="field">
		<%= f.label :dosage_in_milligrams %>
		<%= f.number_field :dosage_in_milligrams %><br>
	</div>


	<div class="field">
    <%= f.label :time_of_day %>
    <%= check_box_tag 'medication[time_of_day][0]', 'Breakfast', @medication.time_of_day.include?('Breakfast') %>
    <label for="medication_time_of_day_0">Breakfast</label>
    <%= check_box_tag 'medication[time_of_day][1]', 'Lunch', @medication.time_of_day.include?('Lunch') %>
    <label for="medication_time_of_day_1">Lunch</label>
    <%= check_box_tag 'medication[time_of_day][2]', 'Dinner', @medication.time_of_day.include?('Dinner') %>
    <label for="medication_time_of_day_2">Dinner</label>
    <%= check_box_tag 'medication[time_of_day][3]', 'Bedtime', @medication.time_of_day.include?('Bedtime') %>
    <label for="medication_time_of_day_3">Bedtime</label>
  </div>

  <div class="field">
    <%= f.label :day_of_week %>
    <%= check_box_tag 'medication[day_of_week][0]', 'Monday', @medication.day_of_week.include?('Monday') %>
    <label for="medication_day_of_week_0">Monday</label>
    <%= check_box_tag 'medication[day_of_week][1]', 'Tuesday', @medication.day_of_week.include?('Tuesday') %>
     <label for="medication_day_of_week_1">Tuesday</label>
    <%= check_box_tag 'medication[day_of_week][2]', 'Wednesday', @medication.day_of_week.include?('Wednesday') %>
     <label for="medication_day_of_week_2">Wednesday</label>
    <%= check_box_tag 'medication[day_of_week][3]', 'Thursday', @medication.day_of_week.include?('Thursday') %>
     <label for="medication_day_of_week_3">Thursday</label>
    <%= check_box_tag 'medication[day_of_week][4]', 'Friday', @medication.day_of_week.include?('Friday') %>
     <label for="medication_day_of_week_4">Friday</label>
    <%= check_box_tag 'medication[day_of_week][5]', 'Saturday', @medication.day_of_week.include?('Saturday') %>
     <label for="medication_day_of_week_5">Saturday</label>
    <%= check_box_tag 'medication[day_of_week][6]', 'Sunday', @medication.day_of_week.include?('Sunday') %>
     <label for="medication_day_of_week_6">Sunday</label>
  </div>


	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>