<p id="notice"><%= notice %></p>


  <strong>Welcome!</strong>
  <%= @patient.full_name %>

<p> Caregivers </p>
  <% @patient.caregivers.each do |caregiver| %>
      <%= caregiver.first_name %> <br>
      <%= caregiver.last_name %> <br>
      <%= caregiver.phone_number %> <br>
      <%= caregiver.relationship %> <br>
  <% end %>

<%= link_to "Schedule", '/schedule/monitor', method: :get %>
<%= link_to "List of Clinicians", patient_clinicians_path(@patient), method: :get %>

  <h3> Add Caregiver </h3>

    <%= form_for([@patient, @caregiver]) do |f| %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :relationship %>
      <%= f.text_field :relationship %>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

     <div class="actions">
      <%= f.submit %>
    </div>
  
  <% end %>

<%= link_to 'Edit Profile', edit_patient_path(@patient) %> |
<%= link_to 'Back', root_path %>
